<%= form_for gift do|f| %>
    <div class="mx-auto" style="width: 400px;">
        <% if gift.list_id.nil? %>
        
            <h3>Create a New List:</h3>
    
        <%= f.fields_for :list, gift.build_list do |l| %> <br>
            <div class= "form-group">
                <%= l.label :Name %> <br>
                <%= l.text_field :name %>
            </div>
        <% end %>
    <br>
    <br>
    <div class="mx-auto" style="width: 200px;">
        <% else %>
            <%= f.hidden_field :list_id  %>
        <%end%>
        </div>
        <div class= "form-group">

            <%= f.label :Gift_Name %>
            <%= f.text_field :name, class: "form-control" %>
            <%= f.label :Store %>
            <%= f.text_field :store, class: "form-control" %>
            <%= f.label :Price %>
            <%= f.text_field :price, class: "form-control" %>
            <%= f.label :Comment %>
            <%= f.text_area :comment, class: "form-control" %>
        </div>
    
        <br>
        <%= f.submit gift.persisted? ? "Update Gift" : "Add Gift" %>
    </div>
<% end %>
    