<%= form_for gift do|f| %>

    <% if gift.list_id.nil? %>
    <div class= "form-group">
        <h3>Choose an existing list:</h3>
        <%= f.collection_select :list_id, List.all, :id, :name, include_blank: true, class: "form-control" %>
    </div>
    
    <br>

        <h3>Or create a new list:</h3>
    
        <%= f.fields_for :list, gift.build_list do |l| %> <br>
            <div class= "form-group">
                <%= l.label :Name %>
                <%= l.text_field :name %>
            </div>
        <% end %>
    <br>
    <br>

    <% else %>
        <%= f.hidden_field :list_id  %>
    <%end%>

    <div class= "form-group">

        <%= f.label :Gift_Name %> <br>
        <%= f.text_field :name, class: "form-control" %> <br>
        <%= f.label :Store %> <br>
        <%= f.text_field :store, class: "form-control" %> <br>
        <%= f.label :Price %> <br>
        <%= f.text_field :price, class: "form-control" %> <br>
        <%= f.label :Comment %> <br>
        <%= f.text_area :comment, class: "form-control" %>
    </div>
    <br>
    <%= f.submit gift.persisted? ? "Update Gift" : "Add Gift" %>
<% end %>